<% content_for :breadcrumbs do %>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to @event.name, event_path(@event) %></li>
  <li>New Schedule</li>
<% end %>

<%= render 'form' %>

<%= link_to 'Cancel', event_path(@event), class: 'button alert tiny' %>
