<% content_for :breadcrumbs do %>
  <li>Events</li>
<% end %>

<div class="row">
  <%= link_to 'New Event', new_event_path, class: 'button expand' %>
</div>

<div class="row">
  <div class="small-12">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @events.each do |event| %>
        <li class='event-block'>
          <h3><%= link_to event.name, event_path(event) %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
